* {
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: Inter, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  font-weight: 400;
  line-height: 1.4;
  overflow: hidden scroll;
  max-width: 100%;
  color: rgb(255, 255, 255);
  background: rgb(25, 28, 31);
}

.App {
  text-align: center;
}


